form textarea {
  display: block;
  margin: auto;
  width: 100%;
  outline: none !important;
  border:1px solid #ad08af;

}
.comment-list {
  list-style-type: none;
  padding-left: 0;
  padding-top: 0.5em;
  border: 1px solid #ad08af;
  background-color: #FFF;
  overflow-y: scroll;
  height: 98.5%;
}
.chatRoom {
  position: relative;
  float: right;
  width: 100%;
  min-height: 670px;
}
.chatRoom h3 {
  margin-bottom: 32px;
}
.chatlistContainer {
  height: 480px;
}
.forma {
  position: absolute;
  bottom: 0;
  width: 100%;
}
