
@media screen and (max-width: 600px) {
  .instructions-size {
    font-size: 2.5vw;
  }
}
ol li {
  text-align: left;
  padding-left: 0.2em;
}
.instructions {
  float: center;
  margin-bottom: 1.5em;
  margin-right: -10px;
  border: 1px solid #ad08af;
  background-color: #FFF;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 25px;
  display: block;
}
